.roxo {
    display: flex;
    width: 100%;
  background-color: #5f4bb6;
  padding: 1.75rem;
}

.content{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
  background-color: #fff;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
}

.cancelar-button{
  border: 0;
  background-color: transparent;
  color: #ffffff;
  padding: 1rem;
  background-color: #ff0000;
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}
.cancelar-button:hover{
  background-color: #cc0000;
}

.imagem-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.imagem-item{
  display: inline-block;
  border: 5px solid #f1f1f1; /* cor da borda */
  border-radius: 10px; /* arredondamento da borda */
  padding: 10px; /* espaço interno entre a borda e a imagem */
  object-fit: cover; /* alterado para "cover" */
  /* tamanho desejado para as imagens */
  background-color: #fff;
}
.imagem{
  object-fit: contain;
  max-width: 400px;

  height: 220px;
}
.select{
  width: 100%;
  padding: 0.25rem;
  border: 0;
  background-color: #EBEBEB;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.input input{
  border-radius: 30px;
  color: #000;
  background-color: #EBEBEB;;
  border-radius: 30px;

}
.input fieldset {
  border-radius: 30px;
  border-color: #EBEBEB;

  color: #000;
}
.input textarea{

  background-color: #EBEBEB;

}
.input div{
  border-radius: 30px;
  background-color: #EBEBEB;

}

.content .input{
 
  width: 50%;
 /* 
  padding: 1rem;
  border: 0;
 
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: 1s;*/
}


input{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main{
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main h1{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.endereco-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.select-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}
.error{
  font-size: 0.75rem;
  color: #E06A2F;
  margin-left: 1rem;
  margin-top: 0;
}
.endereco{
  width: 50%;
}
.submit{
  margin-top: 6rem;
  margin-bottom: 2rem;
  align-self: center;
  width: 50%;
  border: 0;
  background-color: #5f4bb6;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 66px;
  padding: 1.5rem;
}
.submit:hover{
  background-color: #4b3a9d;
  cursor: pointer;
}
h2{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.endereco-item input{
  width: 100%;
  border-radius: 30px;
  padding: 1rem;
  border: 0;
  background-color: #EBEBEB;

}

@media(max-width: 768px){
  .content{
    width: 90%;
  }
  .content .input{
    width: 100%;
  }
  .content textarea{
    width: 100%;
  }
  .submit{
    width: 100%;
  }
  .endereco{
    width: 100%;
  }
  .endereco-item{
    flex-direction: column;
  }
}