.header{
    
    padding: 1rem 3rem;
    background-color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
    
}


.header nav {
    width: 100%;
    max-width: 1600px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
   
    
}


.header a{
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.header .button{
    padding: 0.5rem 2rem;
    background-color: #5F4BB6;
    border: 0;
    border-radius: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 1.00rem;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
img{
   
    width: 150px;
}

.user-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #B8B8B8;
    border-radius: 50px;
    width:100%;
    font-size: 1.00rem;
    gap: 0.25rem;


}

@media(max-width: 1000px){
    /*todo*/
}