*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* soluciona todos os problemas de espaço */
}
.roxo {
    display: flex;
    width: 100%;
  background-color: #5f4bb6;
  padding: 1.75rem;
}

main{
    display: flex;
    flex-direction: column;
}

.items{
    width: 33%;

}

.section-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 2rem
}

h1{
    font-size: 2.5rem;
    font-weight: 400;
}
h2{
    font-size: 2rem;
    font-weight: 700;
}
.content{
    width: 33%;
   
}
label{
    font-size: 1.40rem;
}
.content-items{
    margin-top: 3rem;
    background-color: white;
    width: 100%;
    padding: 3rem;
    border-radius: 30px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
}

input{
    width: 100%;
    border-radius: 30px;
    padding: 1rem;
    padding-left: 1.5rem;
    outline: none;
    border: black 1px solid;
    font-size: 1.25rem;
}

.disabled{
    background-color: #D9D9D9;
}

.submit{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    background-color: #5f4bb6;
    font-size: 1rem;
    font-weight: 700;
    border: 0;
    border-radius: 30px;
    padding: 1.5rem;
    width: 50%;
}

.submit:hover{
    background-color: #4d3aa5;
    cursor: pointer;
}
.items{
    padding-left: 4rem;
}
section a{
    gap: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
    width: 70%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media(max-width: 1000px){
    .section-wrapper{
        flex-direction: column;
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }
    .items{
        width: 100%;
        padding-left: 0;
    }
    .content{
        width: 90%;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .content-items{
        margin-top: 1rem;
    }
    .submit{
        width: 100%;
    }
    section a{
        justify-content: center !important;
        text-align: left;
        width: 100%;
        border: 1px solid grey;

    }
    section a:hover{
        background-color: grey;
        color: black;
    }
}
